h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
    opacity: 0.64;
    font-weight: 300;
    color: white;
}
body {
    margin: 0;
}
g {
    opacity: 1;
}
.headsec {
    background-color: #3f51b5;
    text-align: center;
    height: 100%;
}
.secinterview {
    height: 200px;
}

/* CUSTOM FOR SPREADSHEET GRID */

.ui-grid-header-cell-wrapper {
    height: auto !important;
}
.ui-grid-row {
    height: auto !important;
}
.ui-grid-cell, .ui-grid-cell-contents {
    white-space: pre-wrap !important;
}
textarea {
    height: auto !important;
    min-height: 200px !important;
    width: 100% !important;
}
.ui-grid-cell {
    display: table-cell;
    height: auto !important;
    overflow: visible;
    position: static;
    padding-top: 10px;
}
.ui-grid-row {
    display: table-row;
    height: auto !important;
    position: static;
}
.ui-grid-cell-contents {
    height: auto !important;
    white-space: normal;
    overflow: visible;
}
