</md-dialog-content>
   <md-dialog-actions layout="row">
     <md-button  href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
       Help
     </md-button>
     <span flex></span>
     <md-button ng-click="print('not useful')">
      Print
     </md-button>
     <md-button ng-click="save('useful')">
       Save
     </md-button>
   </md-dialog-actions>
 </form>
</md-dialog>
