<html ng-app="riveviz">

<head>
    <title>RiveScript Viz</title>
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css" />
    <!--
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    -->
    <link rel="stylesheet" href="/base.css" />
</head>

<body>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>Rivescript Viz</span>
              </h2>
            <span flex></span>
            <md-button class="md-raised" aria-label="Rive" href="/rive">
                Rive
            </md-button>
            <md-button class="md-raised" aria-label="Chat" href="/chat">
                Chat
            </md-button>
            <md-button class="md-raised" aria-label="Interview Chat" href="/interview">
                Interview Chat
            </md-button>
            <md-button class="md-raised" aria-label="Graphs" href="/graphs">
                Graphs
            </md-button>
        </div>
    </md-toolbar>
