<% include head %>

<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Rive</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Edit the rules for your chatbot online and save that in yours rive files, so you can test it now!
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button  href="/rive">Manage rive</md-button>
        </md-card-actions>
      </md-card>

      <md-card>
        <!--<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Graphs</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            See how will your chatbot work using graphical views
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button  href="/graphs">See charts</md-button>
        </md-card-actions>
      </md-card>
    </div>


    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Chat</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Test yout bot using a online chat where you are free to text and see how your bot answer you!
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button  href="/chat">Chat now</md-button>
        </md-card-actions>
      </md-card>

      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Interview Chat</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Test yout bot using a interview like chat, where you have so answers based on options
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button  href="/interview">Interview now</md-button>
        </md-card-actions>
      </md-card>

    </div>
  </md-content>


<% include foot %>
