<html ng-app="multaRama">

<head>
    <title>RiveScript Viz</title>
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/base.css" />
</head>

<body>

    <section class="headsec" ng-controller="MainCtrl">

        <div class="container">
            <div class="row" layout="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 outher">
                    <!-- Logo and navigation
                        <img src="images/logo@2x.png" alt="logo" class="logo inner" width="117" height="33">
                        <div class="inner float-right"><p>Entre em contato<strong>mariohmol@gmail.com</strong></p></div>
                        -->
                </div>
            </div>
        </div>
        <!-- //Logo and navigation -->


        <!-- Main content -->
        <div class="container align-center" id="main_content">
            <div class="content_container row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  home_content">

                    <br>

                </div>
            </div>
        </div>
        <!-- //Main content -->

    </section>

    <script src='/node_modules/angular/angular.js'></script>
    <script src='/node_modules/angular-animate/angular-animate.js'></script>
    <script src='/node_modules/angular-route/angular-route.js'></script>
    <script src='/node_modules/angular-aria/angular-aria.js'></script>
    <script src='/node_modules/angular-messages/angular-messages.js'></script>
    <script src='/node_modules/angular-material/angular-material.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js'></script>
    <script src='/rivescript-viz.js'></script>

</body>

</html>
